<html>
<head>
<script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
<script src="http://www.jasondavies.com/parallel-sets/highlight.min.js"></script>
<script type="text/javascript" src="{{ url_for("static", filename="d3.parsets.js") }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="styles.css") }}">
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="d3.parsets.css") }}">


<script src="jquery-3.3.1.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Final Project Visualization</title>
</head>
<style>


</style>
<body>
    <div class="container">
        <div class="row">
            <div id="parsets", class = "svg" style="width:50%;margin: 0 auto;"></div>
        </div>
        <br>
        <div class="row well" style="width:960px; position:absolute; left:308px">
            <h4>Recommended Comparisons </h4>
            <div class="col-xs-3">
                <a href="http://localhost:5000/Gender/ConvertedSalary">Gender and Salary </a>
            </div>
            <div class="col-xs-3">
                <a href="http://localhost:5000/HoursComputer/SkipMeals">Hours at Computer and Skipping Meals </a>
            </div>
            <div class="col-xs-3">
                <a href="http://localhost:5000/CompanySize/JobSatisfaction">Company Size and Job Satisfaction </a>
            </div>
            <div class="col-xs-3">
                <a href="http://localhost:5000/HoursComputer/HoursOutside/Exercise">Hours at Computer vs Outside vs Exercise </a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row well" style="width:960px; position:absolute; left:308px">
            <h4>Custom Comparisons </h4>
            <div class="col-xs-3">
                <p style="text-align:left;">Health</p>
                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Exercise" id="defaultCheck1" name="Exercise">
                    <label class="form-check-label" for="defaultCheck1">
                      Exercise
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="SkipMeals" id="defaultCheck2" name="Skip Meals">
                    <label class="form-check-label" for="defaultCheck2">
                      Skip Meals
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="HoursOutside" id="defaultCheck3" name="Hours Outside">
                    <label class="form-check-label" for="defaultCheck3">
                      Hours Outside
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="HoursComputer" id="defaultCheck4" name="Hours at Computer">
                    <label class="form-check-label" for="defaultCheck4">
                      Hours at Computer
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Hobby" id="defaultCheck5" name="Codes as a Hobby">
                    <label class="form-check-label" for="defaultCheck5">
                      Codes as a Hobby
                    </label>
                </div>
            </div>
            <div class="col-xs-3">
                <p style="text-align:left;">Job</p>
                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="JobSatisfaction" id="defaultCheck6" name="Job Satisfaction">
                    <label class="form-check-label" for="defaultCheck6">
                        Job Satisfaction
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="CompanySize" id="defaultCheck7" name="Company Size">
                    <label class="form-check-label" for="defaultCheck7">
                        Company Size
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="OpenSource" id="defaultCheck8" name="Open-Source Contribution">
                    <label class="form-check-label" for="defaultCheck8">
                        Open-Source Contribution
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="NumberMonitors" id="defaultCheck9" name="Number of Monitors">
                    <label class="form-check-label" for="defaultCheck9">
                        Number of Monitors
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="EthicsChoice" id="defaultCheck10" name="Ethics Choice">
                    <label class="form-check-label" for="defaultCheck10">
                        Ethics Choice
                    </label>
                </div>
            </div>
            <div class="col-xs-3">
                <p style="text-align:left;">Demographics</p>
                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Gender" id="defaultCheck11" name="Gender">
                    <label class="form-check-label" for="defaultCheck11">
                        Gender
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Age" id="defaultCheck12" name="Age">
                    <label class="form-check-label" for="defaultCheck12">
                        Age
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="FormalEducation" id="defaultCheck14" name="Education">
                    <label class="form-check-label" for="defaultCheck14">
                        Education
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="ConvertedSalary" id="defaultCheck15" name="Salary">
                    <label class="form-check-label" for="defaultCheck15">
                        Salary
                    </label>
                </div>
            </div>
            <div class="col-xs-3">
                <p style="text-align:center"> Attribute Queue </p>
                <hr>
                <div class="attribute-list" style="height:150px;text-align:center;"></div>
                    <button id="submit-button" type="button" class="btn btn-primary" onclick="submitAttributes()" style="width: 50%;display:block;margin:0 auto;">Submit</button>
            </div>
            <p style="width:700px; position:absolute; bottom:6px; left:35px;">To learn more about software developers and their jobs, select between 2 and 5 attributes above and click<br>Submit.The order they appear in the attribute queue will be the order they are displayed in the visualization.</p>
        </div>
        <div class="row" style="width:940px; position:absolute; left:320px; bottom:-412px">
            <div id="reading-vis">
                <p>In this parallel sets chart you can see how proportions of software developers in each category change with each additional attribute. The width of each line is determined by the percentage of developers that fit into the next category that come from the total in the parent category. The width of each black line represents the percentage of all developers that fit into that subcategory. The colors correspond to the initial category from which a line came. Hovering over a line shows what percentage of the immediate parent category that line makes up.</p>
            </div>
            <div id="dataset">
                <p>The dataset used to make this visualization is the result of the Stack Overflow 2018 Developer Survey and the original dataset can be found <a href="https://www.kaggle.com/stackoverflow/stack-overflow-2018-developer-survey" target="_blank">here</a>. It is important to note that the response rate for this survey from underrepresented groups in tech was lower than expected given their participation rates in the workforce.</p>
            </div>
            <div id="jason-davies">
                <p>This visualization used Jason Davies' parallel sets library which can be found <a href="https://github.com/jasondavies/d3-parsets"  target="_blank">here</a>.</p>
            </div>
        </div>
    </div>
  <script type="text/javascript" src="{{ url_for("static", filename="final.js") }}"></script>
  <script>
    constructVis('{{ v1 }}', '{{ v2 }}','{{ v3 }}');
  </script>
</body>
</html>
